footer {
text-align: center;
padding: 20px;
background-color: #f1f1f1;
margin-top: auto;
}
.footer-links {
    display: inline-block;
    margin-bottom: 10px;
}
.footer-links a {
    text-decoration: none;
    margin: 0 10px;
    color: #007bff;
}
.footer-links span {
    margin: 0 5px;
    color: #000;
}
.rights p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
