<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>do read - Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
<!--
    <script type="text/javascript" th:src="@{/js/hello.js}"></script>
-->
</head>
<body>

<div class="container">
    <!-- Left column -->
    <div class="column left-column">
        <h1>Rozpocznij sesję</h1>

        <div th:if="${userSessions.size() > 0}">
            <div th:each="userSession : ${userSessions}">
                <button  class="button" th:text="${userSession.name}"
                        th:id="'session-' + ${userSession.id}">alert
                </button>
            </div>
        </div>

        <div th:if="${userSessions.size() == 0}">
            <button class="button yellow-button">Stwórz nowy moduł</button>
        </div>
    </div>

    <!-- Right column -->
    <div class="column right-column">
        <button class="blue-button">Ustawienia</button>
        <button class="blue-button">Moduły</button>
        <button class="blue-button">Sesje</button>
        <button type="button" onclick="greeting()">Click Me!!</button>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/hello.js}"></script>

<script>
    showAlert();
    const moduleButtons = document.getElementById('buttons');
    const moduleButtonsPressed = e => {
        const isButton = e.target.nodeName === 'BUTTON';

        if (!isButton) {
            console.info("no click");
            return
        }
        document.getElementById('aha').innerText = "adsfa";
        console.info("click");
        showAlert();
    };
    moduleButtons.addEventListener("click", moduleButtonsPressed);

    document.addEventListener('DOMContentLoaded', function () {
        console.log('Skrypt został wczytany poprawnie');

        // Dodaj obsługę zdarzeń do wszystkich przycisków z sesjami
        const sessionButtons = document.querySelectorAll('.button');
        sessionButtons.forEach(button => {
            button.addEventListener('click', function () {
                showAlert();
            });
        });

        function showAlert() {
            alert("The button was clicked!");
        }
    });
  accessDashboard();

    function accessDashboard() {
        console.log('Wywołanie funkcji accessDashboard')
        const token = localStorage.getItem('accessToken');

        if (!token) {
            showError('Brak tokenu autoryzacyjnego. Zaloguj się ponownie.');
            return;
        }

        fetch('/api/dashboard', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Brak dostępu do dashboardu, problem z autoryzacją.');
                }
            })
            .then(data => {
                document.body.innerHTML = data;
            })
            .catch(error => showError(error.message));

        console.log('Tu powinien być template: dashboard');
    }

    function showError(message) {
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = message;
    }

    document.addEventListener('DOMContentLoaded', function () {
        console.log('Skrypt został wczytany poprawnie');

// Pobierz token dostępu z lokalnego magazynu (lub cookies, jeśli tam go zapisujesz)
        var accessToken = localStorage.getItem('accessToken');
        console.log('Token: ', accessToken);


// Sprawdź, czy token istnieje
        if (accessToken) {
            console.log('Token dostępu istnieje:', accessToken);

// Znajdź wszystkie przyciski z sesjami
            const sessionButtons = document.querySelectorAll('.button');
            console.log('Znaleziono przyciski:', sessionButtons.length);

            sessionButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    console.log('Przycisk został kliknięty');

// Pobranie sessionId z atrybutu data-session-id
                    let sessionId = button.getAttribute('data-session-id');
                    console.log('ID sesji:', sessionId);

// Wyślij żądanie GET na endpoint z tokenem
                    fetch(`/api/session?sessionId=${sessionId}`, {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${accessToken}`,  // dodajemy nagłówek z tokenem
                            'Content-Type': 'application/json'  // dodaj nagłówek Content-Type
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Unauthorized access');
                            }
                            return response.text();  // Oczekujemy odpowiedzi jako tekst HTML
                        })
                        .then(html => {
                            console.log('Otrzymana odpowiedź: ', html);
                            document.body.innerHTML = html;
                        })
                        .catch(error => {
                            console.error('Błąd przy pobieraniu sesji:', error);
                            alert('Błąd przy pobieraniu sesji. Sprawdź token dostępu.');
                        });
                });
            });
        } else {
            alert('Brak tokenu. Proszę zalogować się ponownie.');
        }
    });*/
</script>-->
</body>
</html>
