<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <body>
    <table>
      <tr>
        <td>
          <p th:text="${welcomeText}"></p>
          <p th:text="${text1}"></p>
          <p th:text="${link}" ></p>
          <p th:text="${text2}"></p>
        </td>
      </tr>
      <tr>
        <td>
          Best regards!<br>
        </td>
      </tr>
    </table>
  </body>
</html>