<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>do read - Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/landing-page.css}">
</head>
<body>

<div class="container">
    <h1>do read</h1>

    <form id="authForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Wprowadź email" required>

        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" placeholder="Wprowadź hasło" required>

        <button type="button" id="loginBtn" class="login">Zaloguj się</button>
        <button type="button" id="registerBtn" class="register">Załóż konto</button>
    </form>

    <div id="errorMessage" class="error-message"></div>
</div>

<script>
    // Login button
    document.getElementById('loginBtn').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        fetch('/api/auth/signin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, password})
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(data => {
                        throw new Error(data.message || 'Wystąpił błąd podczas logowania.');
                    });
                }
            }).then(data => {
            if (data.statusCode !== 200) {
                showError(data.body.message);
            } else {
                const accessToken = data.data.accessToken;
                const refreshToken = data.data.refreshToken;

                // Zapis tokenów w localStorage
                localStorage.setItem('accessToken', accessToken);
                localStorage.setItem('refreshToken', refreshToken);
                window.location.href = '/dashboard.html';
            }
        })
            .catch(error => showError('Wystąpił błąd podczas logowania.'));
    });

    // Registration button
    document.getElementById('registerBtn').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        fetch('/api/auth/create/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, password})
        })
            .then(response => response.json())
            .then(data => {
                if (data.statusCode !== 200) {
                    showError(data.message);
                } else {
                    showError(data.message);
                    // Zarejestrowano pomyślnie, przekierowanie lub inne akcje
                    console.log('Zarejestrowano:', data);
                }
            })
            .catch(error => showError('Wystąpił błąd podczas rejestracji.'));
    });

    function showError(message) {
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = message;
    }
</script>
</body>
</html>
